button img {
    height: 1em; /*em - velkost pisma v danom elemente, cize tu je to button*/
    padding-right: 0.5rem;
}

table {
    border-spacing: 0;
    margin: 2rem;
}

table td, table th {
    padding: 0.5rem 1rem;
}

table th {
    border-bottom: 1px solid lightgoldenrodyellow;
}

table tr th {
    background-color: antiquewhite;
}

table tbody tr:hover {
    background-color: coral;
    color: white;
}

table tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}